@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --globalPalette-1: #f6f6f6;
  --globalPalette-2: black;
  --globalPalette-3: #30cfd0;
  --globalPalette-4: #330867;
  --globalPalette-5: #eee;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--globalPalette-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;

}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid var(--globalPalette-3);
  background-color: var(--globalPalette-3);
  color: var(--globalPalette-1);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 5px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in, background-color .3s ease-in-out;
}

button:hover,
button.ghost:hover {
  background-color: black;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: var(--globalPalette-1);
}

.form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input {
  background-color: var(--globalPalette-5);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--globalPalette-3);
  background: -webkit-linear-gradient(to right, var(--globalPalette-3), var(--globalPalette-4));
  background: linear-gradient(to right, var(--globalPalette-3), var(--globalPalette-4));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--globalPalette-1);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid var(--globalPalette-5);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}


/* Inicio de CSS extra */

.connect {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  backdrop-filter: blur(15px);
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #0000001d;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: px;
  transition: background .4s ease-in-out;
  cursor: pointer;
}

.connect-acept {
  background-color: rgb(35, 145, 35);
}

.connect-denied {
  background-color: rgb(172, 15, 15);
}

.input {
  outline: none;
  position: relative;
  z-index: 1000;
  margin: 0;
  background-color: transparent;
}

.inputContainer {
  position: relative;
  width: 100%;
  background-color: var(--globalPalette-5);
  padding: 0;
  margin: 10px 0;
  overflow-inline: hidden;
}

.inputContainer-lbl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
  z-index: 50;
  box-sizing: border-box;
  border-bottom: 2px solid var(--globalPalette-3);
}

.text {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 13px;
  font: bolder;
  color: rgb(138, 138, 138);
}

.inputContainer-lbl::after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid white;
  transform: translate(-100%);

}

.inputContainer-lbl::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid white;
  transform: translate(0);
}

.text,
.inputContainer-lbl::after,
.inputContainer-lbl::before {
  transition: all .4s ease-in-out;
}

.inputContainer-lbl::after,
.inputContainer-lbl::before {
  transition: transform .3s ease;
}

.input:focus+.inputContainer-lbl::after,
.input:valid+.inputContainer-lbl::after {
  transform: translate(-200%);
}

.input:focus+.inputContainer-lbl::before,
.input:valid+.inputContainer-lbl::before {
  transform: translate(+100%);
}

.input:focus+.inputContainer-lbl .text,
.input:valid+.inputContainer-lbl .text {
  color: var(--globalPalette-3);
  transform: scale(.8) translate(-10px, -37px);
  font-weight: bolder;
}

.overflowContainer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 2px;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 7px;
}

textarea {
  resize: none;
  overflow: hidden;
  font-size: 10px;
}

#textArea-Bin {
  font-size: 15px;
}

.marginTA {
  padding-top: 18px;

}

.overflowContainer-TA {
  margin: 0;
}

.errorArduinoConnection {
  position: absolute;
  z-index: 1000;
  background-color: rgb(241, 25, 25);
  color: white;
  top: 2%;
  padding: 8px;
  border-radius: 13px;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.errorArduinoConnection strong {
  margin: 0;
  font-size: 10px;
}

.selectionPort {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  gap: 5px;
  box-sizing: border-box;
}

.COMselection {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 4px solid;
  border-color: transparent;
  transition: all .3s;
  border-radius: 10px;
  box-sizing: border-box;
}

.COMselection div {
  margin: 0 3px;
  border-radius: 10px;
}

.inputCOM {
  background-color: rgb(204, 204, 204);
  margin: 5px;
  height: 30px;
  width: 70px;
  margin: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.portAcepted {
  border-color: rgb(35, 145, 35);
}

.portDenied {
  border-color: rgb(172, 15, 15);
}

.sendPort {

  padding: 7px 5px;
  font-size: 10px;
  margin: 0;
}